<h4><a href = "{% url 'post' %}"><글 작성하러 가기></a></h4>
{%for board in boards.all%}
    <div class = "container">
        <a href = "{% url 'detail' board.id %}">
            <h1>제목: {{board.title}}</h1>

        </a>
        <p>내용: {{board.body}}</p>
        <small class = "text-muted">{{board.pub_date}}</small>
    </div>

{%endfor%}

<h1>글자 수 세기!</h1>

<a href = "{% url 'about' %}">About</a>

<form action = "{% url 'result' %}">
    <textarea cols = "40" rows = "10" name = "fulltext"></textarea>
    <br>
    <input type = "submit" value = "Count!">
</form>